body {
    font-family: "Courier New", Courier, monospace;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.card {
    align-content: center;
    max-width: 200px;
    max-height: 250px;
    border: 10px;
    border-color: rgba(0,0,0,0.8);
    background-color: pink;
    box-shadow: 0 4px 3px 10 rgba(0,0,0,0.9);
    transition: 0.3s;
    border-radius: 4px;
    padding: 20%;
    margin: 20px 10px 10px 20px;
}
.cardFooter {
    align-content: center;
    max-width: 190px;
    max-height: 240px;
    border: 1px;
    background-color: rgba(225,225,225,0.9);
}



